[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "ZUUIRevealController"]
	path = ZUUIRevealController
	url = git@github.com:drewish/ZUUIRevealController.git
[submodule "PullToRefresh"]
	path = PullToRefresh
	url = git@github.com:drewish/PullToRefresh.git
